<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/compilado.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <header>
        <div class="navbar__wrapp">
            <!-- Logo de la pagina web -->
				<div class="navbar__logo">
					<figure class="main__logo">
						 <img src="../assets/img/grocery-store-logo.jpg" alt="Logo" width="150" height="150">
					</figure>
					<div class="logo__txt">
						<span>Grocery</span>
						<span>Store</span>
					</div>
			  </div>
             <!-- Barra de navegacion principal -->
             <div class="navbar__main">
                <nav>
                    <div class="navbar__main--left"> 
                        <div class="navbar__menu--icon" id="menu-icon">
                            <img src="https://img.icons8.com/material-outlined/24/000000/menu--v3.png"/>
                        </div>
                        <ul class="navbar__menu" id="menu">
                            <li><a href="../index.html">Inicio</a></li>
                            <li><a href="./products.html">Productos</a></li>
                            <li><a href="./services.html">Servicios</a></li>
                            <li><a href="./contact.html">Contacto</a></li>
                            <li><a href="./about.html">About</a></li>
                        </ul>
                    </div>
                    <div class="navbar__main--rigth">
                        <ul class="navbar__secondary">
                            <li>
                                <div class="btn btn-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                                    <img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-shopping-cart-miscellaneous-kiranshastry-lineal-kiranshastry.png">
                                </div>
                            </li>
                            <li><img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-user-interface-kiranshastry-lineal-kiranshastry.png"/></li>
                        </ul>
                    </div>
                </nav>
            </div>  
        </div>
    </header>
    <main>
        <section class="content__banner">
            <div class="banner">
                <h2>About Us</h2>
                <img src="../assets/img/banner.jpg" alt="">
            </div>
        </section>
        <section class="content__main">
            <div class="container">
                <div class="row_">
                    <div class="carousel__box">
                        <div class="carousel__wrapp">
                            <div class="carousel__parent">
                                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                                  
                                    <div class="carousel-inner">
                                            <div class="carousel-item active">
                                              <img src="../assets/img/about-1.jpeg" class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item">
                                              <img src="../assets/img/about-2.jpg" class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item">
                                              <img src="../assets/img/about-3.jpg" class="d-block w-100" alt="...">
                                            </div>
                                          </div>
                                    </div>
                            </div>
                            <div class="carousel__childs">
                                <div class="child"><a href="#img-1"><img src="../assets/img/about-1.jpeg" alt=""></a></div>
                                <div class="child"><a href="#img-2"><img src="../assets/img/about-2.jpg" alt=""></a></div>
                                <div class="child"><a href="#img-3"><img src="../assets/img/about-3.jpg" alt=""></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="about__def">
                        <div class="information">
                            <h4 class="subtitle">Algunas palabras sobre nuestra tienda</h4>
                            <h2  class="title-big">Mi tienda</h2>
                            <h3>Quienes somos?</h3>
                            <div class="tabs-info">
                                <div class="tabs-info__nav">
                                    <ul class="nav nav__tabs">
                                        <li class="nav-item" role="presentation"><a class="nav-link active" id="1-tab" data-bs-toggle="tab" data-bs-target="#tab-1" type="button" role="tab" aria-controls="tab-1" aria-selected="true">About</a></li>
                                        <li class="nav-item" role="presentation"><a class="nav-link" id="2-tab" data-bs-toggle="tab" data-bs-target="#tab-2" type="button" role="tab" aria-controls="tab-2" aria-selected="false">Our mission</a></li>
                                        <li class="nav-item" role="presentation"><a class="nav-link" id="3-tab" data-bs-toggle="tab" data-bs-target="#tab-3" type="button" role="tab" aria-controls="tab-3" aria-selected="false">Our vision</a></li>
                                      </ul>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
                                        <p>Chicken Good is a 100% American, family-owned and operated company, providing fresh shell eggs and egg products to supermarkets, restaurants and food manufacturers.</p>
                                    </div>
                                    <div class="tab-pane" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit dolor magni accusantium cupiditate autem eos reprehenderit.</p>
                                    </div>
                                    <div class="tab-pane" id="tab-3" role="tabpanel" aria-labelledby="3-tab">
                                        <p>Chicken Good is a 100% American, family-owned and operated company, providing fresh shell eggs and egg products to supermarkets, restaurants and food manufacturers.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content__history">
            <div class="container__fluid">
                <h2 class="title-big">Historia</h2>
                <div class="list__history">
                    <div class="list__item fade--left">
                        <h3>Establecimiento</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, recusandae numquam possimus nulla dolor neque.</p>
                    </div>
                    <div class="list__item fade--left">
                        <h3>Primer Partnero</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, recusandae numquam possimus nulla dolor neque.</p>
                    </div>
                    <div class="list__item fade--left">
                        <h3>Sitio Web</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, recusandae numquam possimus nulla dolor neque.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="content__team">
            <div class="container">
                <h2 class="title-big">Equipo</h2>
                <div class="carousel__team">
                    <div class="team">
							<div class="team__header">
								<div class="team__figure">
									<img src="../assets/img/person-team.png" alt="">
								</div>
							</div>
                        <h4>Leonardo</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    </div>
                       
                    <div class="team">
							<div class="team__header">
								<div class="team__figure">
									<img src="../assets/img/person-team.png" alt="">
								</div>
							</div>
                        
                        <h4>Leonardo</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    </div>
                        
                    <div class="team">
							<div class="team__header">
								<div class="team__figure">
									<img src="../assets/img/person-team.png" alt="">
								</div>
							</div>
                        
                        <h4>Leonardo</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                     </div>

                     <div class="team">
								<div class="team__header">
									<div class="team__figure">
										<img src="../assets/img/person-team.png" alt="">
									</div>
								</div>
									
                        <h4>Leonardo</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                     </div>
                </div>
            </div>
        </section>
    </main>
    <aside>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
              <h5 id="offcanvasRightLabel">Carrito de compras</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <div class="shop__content">
                <div class="shop__header">
                    <div class="top-subtotal">2 items, 
                        <span class="price">$259.99</span> 
                    </div>
                </div>
                <div class="shop__body">
                    <div class="shop__item">
                        <div class="product-img">
                            <img src="../assets/img/p1.jpg" alt="" srcset="">
                        </div>
                        <div class="product-details">
                            
                            <!--access-->
                            <strong>1</strong> x <span class="price">$179.99</span>
                            <p class="product-name"><a href="#">Fresh Organic Mustard Leaves</a></p>
                        </div>
                        <div class="product-access">
                            <a class="btn-remove1" title="Eliminar este item" href="#">
                                <img src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/22/000000/external-delete-multimedia-kiranshastry-solid-kiranshastry.png"/>
                            </a>
                            <a class="btn-edit" title="Edit item" href="#">
                                <img src="https://img.icons8.com/metro/14/000000/edit.png"/>
                            </a> 
                        </div>
                    </div>
                    <div class="shop__item">
                        <div class="product-img">
                            <img src="../assets/img/p1.jpg" alt="" srcset="">
                        </div>
                        <div class="product-details">
                            
                            <!--access-->
                            <strong>1</strong> x <span class="price">$179.99</span>
                            <p class="product-name"><a href="#">Fresh Organic Mustard Leaves</a></p>
                        </div>
                        <div class="product-access">
                            <a class="btn-remove1" title="Eliminar este item" href="#">
                                <img src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/22/000000/external-delete-multimedia-kiranshastry-solid-kiranshastry.png"/>
                            </a>
                            <a class="btn-edit" title="Edit item" href="#">
                                <img src="https://img.icons8.com/metro/14/000000/edit.png"/>
                            </a> 
                        </div>
                    </div>
                    <div class="shop__item">
                        <div class="product-img">
                            <img src="../assets/img/p1.jpg" alt="" srcset="">
                        </div>
                        <div class="product-details">
                            
                            <!--access-->
                            <strong>1</strong> x <span class="price">$179.99</span>
                            <p class="product-name"><a href="#">Fresh Organic Mustard Leaves</a></p>
                        </div>
                        <div class="product-access">
                            <a class="btn-remove1" title="Eliminar este item" href="#">
                                <img src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/22/000000/external-delete-multimedia-kiranshastry-solid-kiranshastry.png"/>
                            </a>
                            <a class="btn-edit" title="Edit item" href="#">
                                <img src="https://img.icons8.com/metro/14/000000/edit.png"/>
                            </a> 
                        </div>
                    </div>
                    <div class="shop__item">
                        <div class="product-img">
                            <img src="../assets/img/p1.jpg" alt="" srcset="">
                        </div>
                        <div class="product-details">
                            
                            <!--access-->
                            <strong>1</strong> x <span class="price">$179.99</span>
                            <p class="product-name"><a href="#">Fresh Organic Mustard Leaves</a></p>
                        </div>
                        <div class="product-access">
                            <a class="btn-remove1" title="Eliminar este item" href="#">
                                <img src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/22/000000/external-delete-multimedia-kiranshastry-solid-kiranshastry.png"/>
                            </a>
                            <a class="btn-edit" title="Edit item" href="#">
                                <img src="https://img.icons8.com/metro/14/000000/edit.png"/>
                            </a> 
                        </div>
                    </div>
                    <div class="shop__item">
                        <div class="product-img">
                            <img src="../assets/img/p1.jpg" alt="" srcset="">
                        </div>
                        <div class="product-details">
                            
                            <!--access-->
                            <strong>1</strong> x <span class="price">$179.99</span>
                            <p class="product-name"><a href="#">Fresh Organic Mustard Leaves</a></p>
                        </div>
                        <div class="product-access">
                            <a class="btn-remove1" title="Eliminar este item" href="#">
                                <img src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/22/000000/external-delete-multimedia-kiranshastry-solid-kiranshastry.png"/>
                            </a>
                            <a class="btn-edit" title="Edit item" href="#">
                                <img src="https://img.icons8.com/metro/14/000000/edit.png"/>
                            </a> 
                        </div>
                    </div>
                </div>
                <div>
                    <button class="shop__button">Pagar</button></a>
                </div>
              </div>
            </div>
          </div>   
    </aside>
    <footer>
        <div class="footer__body ">
            <div class="container">
                <div class="footer">
                    <div class="footer__box">
							<div class="footer__logo">
								<figure class="footer__img">
									 <img src="../assets/img/grocery-store-logo.jpg" alt="Logo" width="120" height="120">
								</figure>
								<div class="footer__txt">
									 <span>Grocery</span>
									 <span>Store</span>
								</div>
						  </div>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, dicta.</p>
                        <ul>
                            <li>
                                <span>Weekdays:</span><span>08:00am - 08:00pm</span>
                            </li>
                            <li>
                                <span>Weekdays:</span><span>08:00am - 08:00pm</span>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__box">
							<h3>Contact</h3>
							<ul>
								 <li>
									  <div class="unit">
											<div class="unit-left">
												 <img src="https://img.icons8.com/material-sharp/20/76aa6f/marker.png"/>
											</div>
											<div class="unit-rigth">
												 Lorem ipsum dolor sit amet consectetur.
											</div>
									  </div>
								 </li>
								 <li>
									  <div class="unit">
											<div class="unit-left">
												 <img src="https://img.icons8.com/ios-glyphs/20/76aa6f/phone--v1.png"/>
											</div>
											<div class="unit-rigth">
												436374823
											</div>
									  </div>
								 </li>
								 <li>
									  <div class="unit">
                                            <div class="unit-left">
                                                <img src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/20/76aa6f/external-mail-twitter-flatart-icons-outline-flatarticons.png"/>
                                            </div>
											<div class="unit-rigth">
												 Loremipsum@sfka.com
											</div>
									  </div>
								 </li>
							</ul>
					  	  </div>
                    <div class="footer__box">
                        <h3>Information</h3>
                        <ul>
                            <li>FAQ</li>
                            <li>Estado de orden</li>
                            <li>Seguimiento</li>
                            <li>Accesibilidad</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__panel">
			<div class="container">
				 <div class="footer__list">
					  <div>
                        <small> &copy; 2022 <b>Grocery Store</b> - Todos lo derechos reservados.</small>
					  </div>
					  <div>
							<img src="https://img.icons8.com/ios-glyphs/30/777777/visa.png"/>
							<img src="https://img.icons8.com/ios-filled/30/777777/mastercard.png"/>
							<img src="https://img.icons8.com/ios/30/777777/diners-club.png"/>
					  </div>
				 </div>
			</div>
	  </div>
    </footer>
    <script src="../js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>