$titles: ( 
    big: normal 55px 'Poppins',
    regular:  normal 45px 'Poppins',
    small: normal 35px 'Poppins'
); 

@each $title, $font in $titles {
    .title-#{$title} {
        font: $font;
    }
 }
 
.subtitle{
    font:$subtitle-font;
    letter-spacing: .05em;
    text-transform: none;
    font-weight: 600;
    color:$color-green;
    margin-bottom: 0;
}