/* --NAVBAR--*/

.navbar{

    &__main{
        position: relative;
        padding: 0 3rem;
        border-top: 1px solid #e1e1e1;
    
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        ul {
            list-style: none;
            padding-top: 0;
        }

        li{
            position: relative;
            display: inline-block;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            letter-spacing: .1em;
            font-weight: 500;
            
            a{
                text-decoration: none;
                padding-right: 1.5rem;
                display: block;
                color: #151515;
            } 

            a:hover{
                color: #7fd02c;
            } 
        }

        &--rigth ul li img{
            width: 1.5rem;
        }
    }
    
    &__logo{
        display: flex;
        align-items: center;
        justify-content: center;

        figure{
            margin: 0;
        }

        img{
            font-size: 4rem;
        }
    }

    &__menu {
        margin: 0 .5rem;

        li a:checked {
            color:blue;
        }

        li:hover .navbar__submenu{
            display: block;
        }
    }
    

    &__menu--icon{
        display: none;
    }
    
    &__submenu {
        position: absolute;
        display: none;
        padding: 1.5rem;
        /* width: 120%; */
        background-color: #fafafa;
        z-index: 15;

        li a{
            display: block;
            text-decoration: none;
        }
    }

    &__secondary{
        margin: .5rem 0;
    }
}
