/* ---SLIDER---- */

.slider{
    padding:0px;
    position: relative;
    width: 100%;
    height: inherit;
    margin-top: 0;

    li{
        list-style: none;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        transition: opacity .5s;
        opacity:0;

        img{
            width: 100%;
            height: inherit;
            object-fit: cover;
        }
    }

    li:first-child{
        opacity:1;
    }

    &__wrapper{
        height: 40rem;

        .carousel {
            height: inherit;
        }
    }

    &__prev::after{
        content:"";
    }

    &__prev::before{
        content: 'next';
        color: white;
    }
}
